<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Sevlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HolaMundo</display-name>
    <servlet-name>HolaMundo</servlet-name>
    <servlet-class>com.app.servlets.HolaMundo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolaMundo</servlet-name>
    <url-pattern>/saludando</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecibeGET</display-name>
    <servlet-name>RecibeGET</servlet-name>
    <servlet-class>com.app.servlets.RecibeGET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibeGET</servlet-name>
    <url-pattern>/RecibeGET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecibePOST</display-name>
    <servlet-name>RecibePOST</servlet-name>
    <servlet-class>com.app.servlets.RecibePOST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibePOST</servlet-name>
    <url-pattern>/RecibePOST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecibeePOST</display-name>
    <servlet-name>RecibeePOST</servlet-name>
    <servlet-class>com.app.servlets.RecibePOST</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibeePOST</servlet-name>
    <url-pattern>/RecibeePOST</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.app.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sesiones</display-name>
    <servlet-name>Sesiones</servlet-name>
    <servlet-class>com.app.servlets.Sesiones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sesiones</servlet-name>
    <url-pattern>/Sesiones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCookies</display-name>
    <servlet-name>AddCookies</servlet-name>
    <servlet-class>com.app.servlets.AddCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCookies</servlet-name>
    <url-pattern>/AddCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GETCookie</display-name>
    <servlet-name>GETCookie</servlet-name>
    <servlet-class>com.app.servlets.GETCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GETCookie</servlet-name>
    <url-pattern>/GETCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUsr</display-name>
    <servlet-name>LoginUsr</servlet-name>
    <servlet-class>com.app.servlets.samples.LoginUsr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUsr</servlet-name>
    <url-pattern>/LoginUsr</url-pattern>
  </servlet-mapping>
</web-app>